<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AuditTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AuditTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="CLASS_ICONS_PATH" value="Images\Classes"/>
    <add key="THUMBNAIL_CACHE_PATH" value="Cache\Thumbnails"/>
    <add key="THUMBNAIL_NO_AVATAR" value="Images\noavatar.jpg"/>
    <add key="THUMBNAIL_BASE_URL" value="http://us.battle.net/static-render/us/"/>
    <add key="CHARACTER_URL" value="http://{2}.battle.net/wow/en/character/{0}/{1}/advanced"/>
    <add key="IMAGE_AUDIT_PASS" value="Images\auditpass.png"/>
    <add key="IMAGE_AUDIT_FAIL" value="Images\auditfail.png"/>
    <add key="HISTORY_ENTRIES" value="5"/>
    <add key="CONN_STRING" value="Data Source=Data\auditcraft.s3db"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <userSettings>
    <AuditTool.Properties.Settings>
      <setting name="PREFERRED_REALM" serializeAs="String">
        <value />
      </setting>
      <setting name="PREFERRED_AUDITMODE" serializeAs="String">
        <value />
      </setting>
      <setting name="PREFERRED_MINLEVEL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PREFERRED_MINILEVEL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HISTORY_ENTRIES" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="REGION" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="CHAR_CACHE_ENABLE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CHAR_CACHE_DAYS" serializeAs="String">
        <value>7</value>
      </setting>
    </AuditTool.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <AuditTool.Properties.Settings>
      <setting name="VERSION" serializeAs="String">
        <value>0.96</value>
      </setting>
    </AuditTool.Properties.Settings>
  </applicationSettings>
</configuration>
